<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <springProfile name="dev">
                <pattern>%d{HH:mm} %-5p %c{1}:%L - %m%n</pattern>
            </springProfile>
            <springProfile name="prod">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
            </springProfile>
        </encoder>
    </appender>
    <springProfile name="dev">
        <logger name="com.bots.lvivCroissantBot" level="INFO" >
            <appender-ref ref="console"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG" >
            <appender-ref ref="console"/>
        </logger>

        <logger name="org.hibernate.type" level="TRACE" >
            <appender-ref ref="console"/>
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>

    </springProfile>

</configuration>