<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <title>Reference</title>


    </head>



    <body>
        <div class="container">
            <div id = "mainref">
                <h3>Reference of usage(Lviv - croissants - bot)</h3>
                <h3>Common commands:</h3>
            </div>
            <p>"menu" - menu of croissants</p>
            <p>"navi" - navigation menu</p>
            <p>"courier_request" - request to admins on courier status</p>
            <p>"courier_actions" - courier actions(only for couriers)</p>
            <p>"personal_request" - request to admins on personal status</p>
            <p>"admin_request" - request to admins on admin status</p>
            <p>"abort" - abort any function</p>
            <br/><br/><br/>
            <h6 style="margin-top: 30%">Lviv croissaants bot created by Boyko Artem</h6>
        </div>
    </body>
</html>